.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 3rem;
  padding: 0.5em 1em;
}

.icon {
  display: block;
  color: red;
  font-size: 4rem;
  margin-right: 1rem;
}

.inputPlace {
  flex-basis: 100%;
  height: 2.5rem;
  font-size: 1em;
  border-style: none;
  margin-right: 0.5rem;
}

.inputPlace:focus {
  outline: 1px solid rgb(79, 79, 79);
}

.title {
  color: whitesmoke;
  margin-right: 1rem;
}

.search {
  padding: 0.75rem 0.75rem;
  border-style: none;
}

.search:hover {
  cursor: pointer;
}
